#user-card {
  .card-content {
      padding-top: 31px;
  }
  .usercard-controls {
      margin-top: -19px;
  }
  &.no-bg .card-content {
      padding-top: 12px;
      margin-top: 19px;
  }
  img.community-icon{width: 1em;}
}
